<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h2 align="center">Привет! Я Петр - автор данного проекта</h2>
  <p>
  <p>
    Мое обучение языку Python в ЯП началось 11 января 2022 года.
    На сегодня (28 марта 2022) я закончил первый большой раздел по изучения Django.
    Было очень интересно и захватывающее. Сейчас небольшой перерыв и скоро снова в бой.
    На очереди раздел "API: интерфейс взаимодействия программ". Жду с нетерпением.
    После него планирую начать искать работу Джуном по Питону :)
  </p>
  <a
  class="btn btn-lg btn-light"
  href="{% url 'about:feedback' %}" role="button"
  >
    Обратная связь
  </a>
{% endblock %}
