{% extends 'base.html' %}
{% block title %}Обратная связь {% endblock %}
{% block content %}
<h2 align="center">Обратная связь</h2>
  <div class="mb-5" style="margin-top:10px;">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">Обратная связь</div>
          <div class="card-body">
            {% include 'includes/form_errors.html' %}
            <form method="post"
                  enctype="multipart/form-data"
                  action="{% url 'about:feedback' %}">
              {% csrf_token %}
              {% include 'includes/form_fields.html' %}
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">Отпрваить</button>
              </div>
            </form>
          </div>  <!-- card body -->
        </div>  <!-- card -->
      </div>  <!-- col -->
    </div>  <!-- row -->
  </div>
{% endblock %}
