<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h2 align="center">Вот что я умею</h2>
    <p>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="https://www.python.org/">
            <img src="/static/img/python.png" height="25" width="25" align="top">
            Python 3.10
          </a>
        </li>
        <li class="list-group-item">
          <a href="https://ru.wikipedia.org/wiki/SQL">
            <img src="/static/img/sql.jpg" height="25" width="25" align="top">
            SQL
          </a>
        </li>
        </li>
        <li class="list-group-item">
          <a href="https://www.djangoproject.com/">
            <img src="/static/img/django.png" height="25" width="25" align="top">
            Django 2.2
          </a>
        </li>
      <li class="list-group-item">
        <a href="https://github.com/PetrChezganov">
          <img src="/static/img/github.png" height="25" width="25" align="top">
          GitHub
        </a>
      </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        Быстро изучаемые мною технологии с начала 2022 года.
      </p>
    </article>
  </div>
{% endblock %}
